.table-container {
    position: relative;
    width: 95%;
    left: 2.5%;
    background: #2F2F2F;
    margin-top: 48px;
    box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    overflow-x: auto;
    color: #FFFFFF;
}

table {
    border-collapse: collapse;
}

.table__name {
    padding: 16px 24px;
}

.thead-dark {
    background: #111111;
}

.thead-dark tr th {
    padding: 16px 0;
}

td {
    text-align: center;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #1C1C1C;
}

.pagenumbers {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.page-info {
    margin-right: 12px;
}

.btn {
    padding: 10px;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    background: #FFFFFF;
    margin-right: 12px;
    cursor: pointer;
}

.btn-active {
    border: 2px solid #181818;
    color: #181818;
}

@media (max-width: 440px) {
    .pagenumbers {
        flex-direction: column;
    }
}